{% extends "base.html" %}

{% block content %}
<div class="row ipad-width2">
  <div class="col-md-12">
    <div class="title-hd">
      <h2>Now Playing</h2>
      <span>Movie yang sedang tayang</span>
    </div>
  </div>
</div>

<div class="row ipad-width2">
  <div class="col-md-12">
    {% if data.results %}
      <div class="movie-items">
        <div class="row">
          <div class="slick-multiItem" style="display:flex;flex-wrap:wrap;gap:20px;">
            {% for movie in data.results %}
              <div class="slide-it" style="width:185px;">
                <div class="movie-item">
                  <div class="mv-img">
                    <a href="{{ url_for('detail', id=movie.id, src='now', page=page) }}">
                      {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="{{ movie.title }}">
                      {% else %}
                        <img src="{{ url_for('static', filename='images/placeholder-poster.png') }}" alt="{{ movie.title }}">
                      {% endif %}
                    </a>
                  </div>
                  <div class="title-in">
                    <h6>
                      <a href="{{ url_for('detail', id=movie.id, src='now', page=page) }}">
                        {{ movie.title }}
                      </a>
                    </h6>
                    <p class="rate">
                      <i class="ion-android-star"></i>
                      <span>{{ movie.vote_average | round(1) }}</span> /10
                    </p>
                    <p class="run-time">
                      {{ movie.release_date.split('-')[0] if movie.release_date }} •
                      {{ movie.original_language | upper }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <p>Tidak ada film yang ditemukan.</p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="topbar-filter">
      <p>Page <span>{{ page }}</span> of {{ total_pages }}</p>
      <div class="pagination2">
        {% if page > 1 %}
          <a href="{{ url_for('now', page=page-1) }}">Prev</a>
        {% endif %}
        <span class="active">{{ page }}</span>
        {% if page < total_pages %}
          <a href="{{ url_for('now', page=page+1) }}">Next</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
