<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <center>
    <h1>{{title}}</h1>
    <h2>Now Playing</h2>
  </center>
  <div class="nav-buttons">
  <a href="{{ url_for('home') }}" class="btn {% if request.path == url_for('home') %}active{% endif %}">Home</a>
  <a href="{{ url_for('popular') }}" class="btn {% if request.path == url_for('popular') %}active{% endif %}">Popular</a>
  <a href="{{ url_for('now') }}" class="btn {% if request.path == url_for('now') %}active{% endif %}">Now Playing </a>
</div>
    {% if error_message %}
      <div style="background:#f8d7da;color:#842029;padding:12px;border-radius:6px;margin:12px;text-align:center;">
        <strong>Error:</strong> {{ error_message }}
      </div>
    {% endif %}
  <div class="container">
    {% if data.results %}
        {% for movie in data.results %}
          <div class="card">
            <a href="{{ url_for('detail', id=movie.id, src='now', page=page) }}"><img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"/></a>
            <div class="title" style="font-size: large; font-weight: bold;">{{movie.title}}</div>
            <div class="ratting">⭐ {{movie.vote_average | round(1)}}</div>
            <div class="years">{{movie.release_date.split('-')[0]}}</div>
          </div>
        {% endfor %}
      {% else %}
      <p>No movies found.</p>
    {% endif %}
  </div>
  <div class="pagination">
  {% if page > 1 %}
    <a href="{{ url_for('now', page=page-1) }}">⬅ Prev</a>
  {% endif %}

  <span>Page {{ page }} of {{ total_pages }}</span>

  {% if page < total_pages %}
    <a href="{{ url_for('now', page=page+1) }}">Next ➡</a>
  {% endif %}
  </div>
</body>
</html>